django==4.2.4
dj-database-url==2.0.0
psycopg2-binary==2.9.7
whitenoise[brotli]==6.5.0
gunicorn==21.2.0

whoosh==2.7.4
django-haystack==3.2.1

crispy-bootstrap4==2022.1

djangorestframework==3.14.0
django-allauth==0.55.2
django-extensions==3.2.3

six==1.16.0