@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    height: 60px;
    background-color: #1B3358;
}

nav h1{
    color: #ff8000;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

nav h1 span{
    color: white;
}

.cont-links{
    width: 60%;
    flex-grow: 1;
}

.cont-links a{
    color: #FF8000;
}

.cont-links li a:hover{
    border-bottom: 1px solid #FF8000;
}

.cont-login .nav-button{
    background-color: transparent;
    border: none;

    border-radius: 10px;
}

.clr{
    color: #FF8000;
}

.cont-login .nav-button:hover, .menu:hover{
    background-color: rgba(0,0,0,0.2);
}

.div-btn-limpiar{
    width: 25%;
}

.limpiar-filtros{
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #ff8000;
    font-size: 13.33px;
}

.limpiar-filtros:hover{
    background-color: rgba(255,128,0,0.2);
}

svg{
    fill: #ff8000;
}

.hidden{
    display: none;
}

/* Search */


/* fin search */


