@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #FF8000;
}

nav{
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1B3358;
    position: fixed;
    z-index: 100;
}

.sidebar{
    width: 0;
    height: 100vh;
    background-color: #1B3358;
    color: #FF8000;

    position: fixed;
    z-index: 50;

    display: flex;
    flex-direction: column;
}

.sidebar li{
    list-style: none;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30%;
}

.titulo h1{
    font-size: 30px;
}

.titulo h1 span{
    color: white;
}

.cont-links{
    padding-left: 20px;
    height: 60%;
}

.cont-links li{
    margin: 10px 0px 10px 0px;
   
}

.cont-links a{
    font-size: 20px;
}

.cont-links li a:hover{
    border-bottom: 1px solid #FF8000;
}

.cont-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-login .nav-button{
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
}

.cont-login .nav-button:hover, .menu:hover{
    background-color: rgba(0,0,0,0.1);
}

.menu{
    position: absolute;
    left: 25px;
    top: 5px;

    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: 40px;
    height: 40px;

    transition: ease-in-out 0.5s;
}

.sidebar, .titulo, .cont-links, .cont-login{
    transition: ease-in-out all 0.5s;
}   

.titulo, .cont-links, .cont-login{
    transform: translateX(-150px);
}

.rotate-menu{
    left: 325px;
    transform: rotate(270deg);
}

.show-sidebar{
    width: 300px;
}

.black-backgroud{
    opacity: 0.5;
}

.show{
    width: 100%;
    transform: translateX(0px);
}

svg{
    fill: #ff8000;
}


