@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Info pag */
.clr{
    text-decoration: none;
}

.btn-cargar-viaje{
    background-color: transparent;
    border: none;
    border-radius: 10px;
}

.btn-cargar-viaje:hover{
    background-color: rgba(255,128,0,0.2);
}

.info-pag{
    width: 40%;
}

.info-pag div{
    border-bottom:2px dotted #ff8000;
}

.info-pag div h1{
    font-size: 36px; 
}

/* fin info pag */
/* Carrusel */
.cont-carrusel{
    width: 60%;
}

.cont-fotos-info img{
    object-fit: cover;
    aspect-ratio: 16/9;
}

.cont-ctrl-fotos{
    border-radius: 25px;
}

.cont-ctrl-fotos .cont-fotos{
    width: 500%;

    transition: all 0.2s ease;
    transform: translateX(0%);
}

.cont-btn-fotos{
    position: absolute;
    top: 50%;

    width: 99%;
}

.cont-btn-fotos button{
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;
}

.cont-btn-fotos button:hover{
    background-color: rgba(255,128,0,0.3);
    border-radius: 50%;
}

/* fin carrusel */

/* Info carrusel */
.info-viaje{

    bottom: 0;
    width: 20%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: white;
}
/* Fin info carrusel */

/* buscador */
.cont-form-buscar{
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.divisor{
    width: 85%;

    border-bottom: 2px dotted #ff8000;
}

.search-form{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.submit{
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;

    border-radius: 10px;
    color: #ff8000;
}

#submit:hover{
    background-color: rgba(255,128,0,0.2);
}
/* fin buscador */

/* Viajes encontrados */

.viajes{
    max-width: 300px;
    max-height: 450px;
    border: 2px dotted #1B3358;
    border-radius: 10px;
}

.viajes h2{
    color: #ff8000;
    font-weight: 700;
    border-bottom: 2px dotted #ff8000;
}

.viajes p{
    color: black;
    flex-grow: 1;
}

.viajes span{
    font-size: 18px;
    font-weight: 1000;
    color: #124da5;
}
/* Fin viajes encontrados */


