@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#viajes{
    width: 600px;
    height: auto;
}

img{

    width: 100%;
}

.carrusel-div{
    position: relative;

    display: flex;
    width: 500px;

    margin: 10px;
}

#cont-fotos{
    display: flex;
    flex-direction: row;
}

#cont-fotos img{
    max-width: calc(200%/2);
    width: auto;
    height: auto; 
}

.cont-ctrl-fotos{
    overflow: hidden;
}

.cont-ctrl-fotos #cont-fotos{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    transition: all 0.2s ease;
    transform: translateX(0%);
}

#cont-btn-fotos{
    position: absolute;
    top: 50%;

    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cont-btn-fotos button{
    font-size: 24px;
    background-color: transparent;
    border: none;
    padding: 0px 10px;

    width: 30px;
    height: 30px;
}

#cont-btn-fotos button:hover{
    background-color: rgba(255,128,0,0.2);
    border-radius: 50%;
}

svg{
    color: #FF8000;
}

