@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.cont-form-login{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.cont-form-login input{
    width: 100%;
}

.cont-form-login .cont-titulo{
    display: flex;
    justify-content: center;
}

.cont-form-login .cont-titulo h2{
    font-size: 30px;
}

.login-button{
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 10px;
    font-size: 16px;
}

.login-button:hover{
    background-color: #FF8000;
}

.link-signup:hover{
    border-bottom: 1px solid #FF8000;
}

.cont-google{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divisores{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divisor-izq{
    border: 1px solid #FF8000;
    width: 45%;
    height: 1px;
}

.divisores p{
    padding: 0px 5px;
}

.divisor-der{
    border: 1px solid #FF8000;
    width: 45%;
    height: 1px;
}

.btn-google{
    padding: 10px 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    padding: 16px;
    
    background-color: white;
    border-radius: 10px;
}

.btn-google a{
    letter-spacing: 0.0575em; /* 0.69px */
    color: #5F6368;
    line-height: 16px;
}

.btn-google:hover{
    background-color: rgba(0,0,0,0.1);
}