@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
}

main{
    width: 100%;
    height: auto;
    position: relative; 
}

main p{
    margin: 0;
}

nav a{
    text-decoration: none;
}

.section-user{
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.sidebar a{
    color: #ff8000;
    text-decoration: none;
}

.viajes{
    padding: 10px;
    margin: 10px;

    max-width: 300px;
    max-height: 450px;
    border: 2px dotted #1B3358;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viajes a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.viajes h2{
    color: #ff8000;
    font-weight: 700;
    border-bottom: 2px dotted #ff8000;
}

.viajes p{
    color: black;
    flex-grow: 1;
}

.viajes span{
    font-size: 18px;
    font-weight: 1000;
    color: #124da5;
}
/* Fin viajes encontrados */


/* buscador */

.divisor{
    width: 85%;

    border-bottom: 2px dotted #ff8000;
    margin: 10px 0px;
}

#search-form{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.div-btn-buscar{
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

#submit{
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;

    border-radius: 10px;
    color: #ff8000;
}

#submit:hover{
    background-color: rgba(255,128,0,0.2);
}
/* fin buscador */

.divisor-user{
    border-top: 2px dotted #ff8000;
    height: 1px;
}

.select-viaje-detalle{
    border: 1px solid rgba(0,0,0,0.1);
}

.editar-viaje{
    padding: 5px 10px;
    margin-top: 10%;

    border: none;
    border-radius: 10px;
    background-color: #1B3358;
    color: #ff8000;
}

