@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}