* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: relative;
}

.cont-form-viaje{
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

    margin: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* titulo */

#cont-titulo{
    margin: 20px 0px;
    font-size: 24px;
}

#cont-titulo span{
    color: #ff8000;
}
/* fin titulo */

#divisor{
    width: 85%;
    border-top: 2px dotted #ff8000;

    margin-bottom: 20px;
}

/* form */
form{
    margin-bottom: 20px;

    padding: 10px;
}
/* descripcion viaje */
#cont-form-viaje{
    padding: 10px 0px;
    margin-bottom: 10px;
    border-bottom: 2px dotted #ff8000;
}

#cont-form-viaje input{
    width: 100%;
}

#btn-agregar-correo{
    margin: 5px 0px;
    padding: 5px 20px;
}
/* fin descripcion viaje */
/* dia */
#form-lista-dias{
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form-lista-dias input{
    width: 100%;
}

#form-lista-dias h1{
    margin-top: 10px;
}

.form-dia:not(:last-child){
    padding-bottom:20px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.form-dia p:nth-child(4){
    display: flex;
}

#form-lista-dias p{
    margin:5px 0px;
}

#id-btn-eliminar-destino{
    width: 100%;
    padding: 5px;
}

#empty-destino{
    margin: 5px 0px;
}
/* fin dia */

.btn-cargas{
    width: 100%;
    margin: 5px 0px;
    padding: 5px 0px;
}

button{
    background-color: rgba(0,0,0,0.2);
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color: #ff8000;
}
/* fin form */
