* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.section-form-viaje{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

/* titulo */

#cont-titulo span{
    color: #ff8000;
}
/* fin titulo */

.divisor{
    border-top: 2px dotted #ff8000;
}

/* form */
/* descripcion viaje */
.cont-form-viaje{
    border-bottom: 2px dotted #ff8000;
}

.cont-form-viaje input{
    width: 100%;
}

#btn-agregar-correo{
    margin: 5px 0px;
    padding: 5px 20px;
}
/* fin descripcion viaje */
/* dia */
#form-lista-dias{
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form-lista-dias input{
    width: 100%;
}

#form-lista-dias h1{
    margin-top: 10px;
}

.form-dia:not(:last-child){
    padding-bottom:20px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.form-dia p:nth-child(4){
    display: flex;
}

#form-lista-dias p{
    margin:5px 0px;
}

#id-btn-eliminar-destino{
    width: 100%;
    padding: 5px;
}

#empty-destino{
    margin: 5px 0px;
}
/* fin dia */

.btn-cargas{
    width: 100%;
    margin: 5px 0px;
    padding: 5px 0px;
}

button{
    background-color: rgba(0,0,0,0.2);
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color: #ff8000;
}
/* fin form */
/* Eliminar correo */
.btn-eliminar{
    margin-left: 10px;

    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.btn-eliminar svg{
    fill: black;
}

.btn-eliminar:hover{
    background-color: red;
}

#correos-agregados{
    display: flex;
    flex-direction: column;
}

.div-correo{
    max-width: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
}

.div-correo span{
    flex-grow: 1;
    flex: 1; /* Hacer que el span se expanda automáticamente */
    white-space: nowrap; /* Evitar que el contenido se rompa en varias líneas */
    overflow: hidden; /* Ocultar el contenido que no cabe en el espacio disponible */
    text-overflow: ellipsis;
    max-width: none;
}
/* fin eliminar correo */

/* btn guardar viaje */
.btn-guardar-viaje, .btn-confirmar-viaje{
    background-color: #1B3358;
    border: none;
    color: #FF8000;
}

.btn-guardar-viaje:hover{
    background-color: #FF8000;
    color: #1B3358;
    font-weight: 700;
}

.btn-confirmar-viaje:hover{
    background-color: #349405;
    color: black;
    font-weight: 700;
}
/* fin guardar viaje */

/* agregar dias */
#create-dia-viaje{
    display: none;
}

#btn-confirmar-viaje{
    display: none;
}

.agregar-dia{
    background-color: #1B3358;
    border: none;
    color: #FF8000;
    transition: all ease-in-out 0.3s;
}

.agregar-dia:hover{
    background-color: #FF8000;
    color: #1B3358;
    font-weight: 700;
}

.dia-viaje{
    border: 2px dotted #1B3358;
    border-radius: 10px;

    width: 250px;
    height: 220px;

    text-overflow: ellipsis;
}

.dia-viaje div p:first-child{
    font-weight: 700;
}

.btn-accion-dia{
    background-color: #1B3358;
    color: #FF8000;
    border: none;
    width: 100%;
}

/* Agregar el :not(:last-child) cuando agreguemos */
.btn-accion-dia:hover{
    background-color: #FF8000;
    color: #1B3358;
    font-weight: 700;
}
/* fin agregar dias */

/* Titulo del dia cargado */
.nombre-dia{
    border-bottom: 2px dotted #ff8000;
}

/* fin titulo */