{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{%block estilo%}<link rel="stylesheet" href={%static 'CSS/login4.css'%}>{%endblock%}
{% block title %}Login{% endblock %}

{% block content %}
<main onclick='closeSidebar()'>
  <section class="cont-form-login">
    <div class="cont-titulo">
      <h2>Iniciar Sesión</h2>
    </div>
      <form method="post">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="login-button">Iniciar Sesión</button>
      </form>
    <div class="border-top pt-3">
      <small class="text">
          Necesitas una cuenta? <a class="link-signup" href="{% url 'signup'%}"> Registrarse </a>
      </small>
    </div>
    <div class="cont-google">
      <div class='divisores'>
          <div class='divisor-izq'></div>
          <p>O</p>
          <div class='divisor-der'></div>
      </div>
      {% load socialaccount %}
      <button class='btn-google'>
        <a href="{% provider_login_url 'google' %}">Iniciar sesion con Google</a>
      </button>
    </div>
  </section>
</main>
{% endblock %}