{% extends 'base.html' %}
{% load static %}

{% block title %}VIAJE{% endblock %}
{% block estilo%}<link rel="stylesheet" href={%static 'CSS/detalle-viaje2.css'%}> {%endblock%}
{% block content %}
<main>
    <section id="viaje">
        <div id="cont-detalle-viaje">
            <div>
                <h1>Detalles del Viaje</h1>
            </div>
            <div class='cont-info-nombre'>
                <p class="nombre-viaje">{{ viaje.nombreViaje }}</p>
                <div class='cont-info'>
                    <p><strong>Descripción:</strong> {{ viaje.descripcion }}</p>
                    <p><strong>Cantidad de días:</strong> {{ viaje.cantidadDias }}</p>
                    <p><strong>Calificación:</strong> {{ viaje.calificacion }}</p>
                </div>
            </div>
            <div class='cont-dias-viajes'>
                <h2>Días del Viaje</h2>
            </div>
            <ul>
                {% for dia in viaje.viaje_dia.all %}
                    <li class="li-viaje">
                        <h3>Dia: {{forloop.counter}}</h3>
                        <p><strong>Nombre del Día:</strong> {{ dia.nombreDia }}</p>
                        <p><strong>Notas:</strong> {{ dia.notas }}</p>
                        <h4>Destinos del Día</h4>
                        <ul>
                            {% for destino in dia.destinos.all %}
                                <li class="li-dias">
                                    <p><strong>Nombre del Destino:</strong> {{ destino.nombre }}</p>
                                    <p><strong>Descripción:</strong> {{ destino.descripcion }}</p>
                                    <!-- Agrega más detalles del destino si es necesario -->
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>
{% endblock %}


