{% extends 'base.html' %}
{% load static %}

{% block title %}VIAJE{% endblock %}
{% block estilo%}
    <link rel="stylesheet" href={%static 'CSS/detalle-viaje.css'%}>
{%endblock%}
{% block content %}
<main>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=LLAVE&callback=initMap&v=weekly"></script>
    <script>
        var map;
        var marcadores = []; 
        //esto me queda hardcodeado
        var coloresMarcadores = [  
        '#FF5733',   // Rojo
        '#3399FF',   // Azul
        '#33FF57',   // Verde
        '#FF33A1',   // Rosado
        '#FFA533',   // Naranja
        '#9933FF',   // Violeta
        '#FFFF33',   // Amarillo
        '#8B4513',   // Marrón
        '#00CED1',   // Celeste
        '#808080',   // Gris
        '#00FFFF',   // Verde agua
        '#FF0000', '#00FF00', '#0000FF', '#FF00FF', '#FFFF00',
        '#800000', '#008000', '#000080', '#800080', '#808000',
        '#FF4500', '#FF1493', '#4B0082', '#2E8B57', '#00FF7F',
        '#800080', '#6A5ACD', '#8A2BE2', '#5F9EA0', '#F08080'];

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 5,
                center: { lat: -31.3990547, lng:  -64.3590263},
                disableDefaultUI: false,
            });

            cargarBotones(map);
            verTodosLosDestinos(map);
        }
        
        function setMarkers(map, latitud, longitud, color, nombreDestino) {
           
            // Adds markers to the map.
            var marker = new google.maps.Marker({
                position: { lat: latitud, lng: longitud},
                map,
                icon: {
                    path: "M-1.547 12l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM0 0q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
                    fillColor: color,
                    fillOpacity: 1,
                    strokeColor: '#FFFFFF',
                    strokeWeight: 2,
                    scale: 2, 
                },
                title: nombreDestino
            });
           
           return marker;
        }    

        function initializeMapAndMarkers() {
            initMap();
    
            // Itera sobre los destinos y establece los marcadores.
            {% for dia in viaje.viaje_dia.all %}
                var contadorDia={{forloop.counter0}}; 
                {% for destino in dia.destinos.all %}

                    //las paso al formato correcto porque la base de datos no la almacena con punto, sino que con coma
                    var latitud = parseFloat("{{ destino.latitud }}".replace(',', '.'));
                    var longitud = parseFloat("{{ destino.longitud }}".replace(',', '.'));

                    var colorMarcador;

                    if(contadorDia <= 19){
                        // Asigna un color diferente al marcador en función del día.
                        colorMarcador = coloresMarcadores[contadorDia];
                    } else {
                        colorMarcador=generarColorAleatorioUnico();
                    }  

                    var marker= setMarkers(map, latitud, longitud, colorMarcador, "{{destino.nombre}}");
                    if (!marcadores[contadorDia]) {
                        marcadores[contadorDia] = [];
                    }
                    marcadores[contadorDia].push(marker);


                {% endfor %}
            {% endfor %}
        }

        //Si hay viajes con mas de 20 días, se empiezan a generar colores aleatorios para los marcadores
        function generarColorAleatorioUnico() {
            var letras = "0123456789ABCDEF";
            var color;
        
            do {
                // Genera un color aleatorio.
                color = "#";
                for (var i = 0; i < 6; i++) {
                    color += letras[Math.floor(Math.random() * 16)];
                }
            } while (coloresMarcadores.includes(color)); // Valida si el color ya existe en la lista.
        
            return color;
        }

        function mostrarMarcadoresPorDia(diaSeleccionado, mapa) {
            // Itera sobre los marcadores de todos los días.
            for (var dia in marcadores) {
                if (marcadores.hasOwnProperty(dia)) {
                    marcadores[dia].forEach(function(marker) {
                        // Verifica si el marcador pertenece al día seleccionado.
                        if (dia == diaSeleccionado) {
                            marker.setMap(mapa); // Muestra el marcador en el mapa.
                        } else {
                            marker.setMap(null); // Oculta el marcador.
                        }
                    });
                }
            }
        }

        function cargarBotones(mapa)
        {
            {% for dia in viaje.viaje_dia.all %}
            var btnVerDestinos{{ forloop.counter0 }} = document.getElementById('btn-ver-destinos-{{ forloop.counter0 }}');
            if (btnVerDestinos{{ forloop.counter0 }}) {
                btnVerDestinos{{ forloop.counter0 }}.addEventListener('click', function() {
                    var diaSeleccionado = {{ forloop.counter0 }};
                    mostrarMarcadoresPorDia(diaSeleccionado, mapa);
                });
            }
            {% endfor %}
        }
        

        function mostrarTodosLosMarcadores( mapa) {
            // Itera sobre los marcadores de todos los días.
            for (var dia in marcadores) {
                if (marcadores.hasOwnProperty(dia)) {
                    marcadores[dia].forEach(function(marker) {
                            marker.setMap(mapa); // Muestra el marcador en el mapa.
                    });
                }
            }
        }

        function verTodosLosDestinos(mapa)
        {
            var btnVerDestinos= document.getElementById('btn-ver-todos-los-destinos');
            btnVerDestinos.addEventListener('click', function() {
                mostrarTodosLosMarcadores(mapa);
            });
        }

        window.onload = initializeMapAndMarkers;
    </script>
    <div class='cont-detalle-mapa'>
        <form class='form-invitacion' method='post'>
            {% csrf_token %}
            <label for='correo'>Invita a tus amigos a ver tu viaje!</label>
            <input type="text" placeholder="Correo electrónico" id='correo' name='correo'></input>
            <button type='submit' id='btn-invitar'>Invitar</button>
        </form>
        <section id="viaje-invitacion">
            <article id='viaje'>
                <div id="cont-detalle-viaje">
                    <div>
                        <h1>Detalles del Viaje</h1>
                    </div>
                    <div class='cont-info-nombre'>
                        <p class="nombre-viaje">{{ viaje.nombreViaje }}</p>
                        <div class='cont-info'>
                            <p><strong>Descripción:</strong> {{ viaje.descripcion }}</p>
                            <p><strong>Cantidad de días:</strong> {{ viaje.cantidadDias }}</p>
                            <p><strong>Calificación:</strong> {{ viaje.calificacion }}</p>
                            <p><strong>Se recomienda realizarlo: </strong></p>
                            <p><strong>Desde:</strong> {{viaje.mesDesde.nombreMes}}</p>
                            <p><strong>Hasta:</strong> {{viaje.mesHasta.nombreMes}}</p>   
                        </div>
                    </div>             
                    <div class='cont-dias-viajes'>
                        <h2>Días del Viaje</h2>
                    </div>
                    <ul>
                        {% for dia in viaje.viaje_dia.all %}
                            <li class="li-viaje">
                                <h3>Dia: {{forloop.counter}}</h3>
                                <p><strong>Nombre del Día:</strong> {{ dia.nombreDia }}</p>
                                <p><strong>Notas:</strong> {{ dia.notas }}</p>
                                <h4>Destinos del Día</h4>
                                <ul>
                                    {% for destino in dia.destinos.all %}
                                        <li class="li-dias">
                                            <p><strong>Nombre del Destino:</strong> {{ destino.nombre }}</p>
                                            <p><strong>Descripción:</strong> {{ destino.descripcion }}</p>    
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="btn-destino">
                                    <button id="btn-ver-destinos-{{ forloop.counter0 }}" type="button" class='btn-correo'>Ver solo  destinos de este dia</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
            <section id="mapita" >
                <button id="btn-ver-todos-los-destinos" type="button" class='btn-correo'>Ver todos los destinos</button>
                <div class="map" id="map" ></div>
            </section>
        </section>
    </div>
</main>
{% endblock %}
