{% extends 'base.html' %}
{% load static %}

{% block title %}VIAJE{% endblock %}
{% block estilo%}
    <link rel="stylesheet" href={%static 'CSS/detalle-viaje.css'%}> 
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="./index.js"></script>
{%endblock%}
{% block content %}
<main onclick='closeSidebar()'>
    <section id="viaje">
        <div id="cont-detalle-viaje">
            <div>
                <h1>Detalles del Viaje</h1>
            </div>
            <div class='cont-info-nombre'>
                <p class="nombre-viaje">{{ viaje.nombreViaje }}</p>
                <div class='cont-info'>
                    <p><strong>Descripción:</strong> {{ viaje.descripcion }}</p>
                    <p><strong>Cantidad de días:</strong> {{ viaje.cantidadDias }}</p>
                    <p><strong>Calificación:</strong> {{ viaje.calificacion }}</p>
                    <p><strong>Se recomienda realizarlo: </strong></p>
                    <p><strong>Desde:</strong> {{viaje.mesDesde.nombreMes}}</p>
                    <p><strong>Hasta:</strong> {{viaje.mesHasta.nombreMes}}</p>
                </div>
            </div>
            <body>
                <div id="map" style="height:450px;"></div>
                <script>
                    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                        ({key: "NO PUEDE ESTAR", v: "weekly"});

                        let map;

                        async function initMap() {
                        const { Map } = await google.maps.importLibrary("maps");

                        map = new Map(document.getElementById("map"), {
                            center: { lat: -34.397, lng: 150.644 },
                            zoom: 8,
                        });
                        }

                        initMap();
                </script>
            </body>
            <div class='cont-dias-viajes'>
                <h2>Días del Viaje</h2>
            </div>
            <ul>
                {% for dia in viaje.viaje_dia.all %}
                    <li class="li-viaje">
                        <h3>Dia: {{forloop.counter}}</h3>
                        <p><strong>Nombre del Día:</strong> {{ dia.nombreDia }}</p>
                        <p><strong>Notas:</strong> {{ dia.notas }}</p>
                        <h4>Destinos del Día</h4>
                        <ul>
                            {% for destino in dia.destinos.all %}
                                <li class="li-dias">
                                    <p><strong>Nombre del Destino:</strong> {{ destino.nombre }}</p>
                                    <p><strong>Descripción:</strong> {{ destino.descripcion }}</p>
                                    <!-- Agrega más detalles del destino si es necesario -->
                                </li>
                                <script>
                                       // Agregar marcador para el destino actual
                                    $('#mapa').agregarMarcador({
                                        lat: {{ destino.latitud }},  // Reemplaza con la latitud real del destino
                                        lon: {{ destino.longitud }}, // Reemplaza con la longitud real del destino
                                        nombre: 'marcador-{{ destino.nombre }}' // Puedes usar un identificador único para el nombre del marcador
                                    });
                                </script>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>
</main>
{% endblock %}


