{% extends 'base.html' %}
{% load static %}
{%block estilo%}
    <link rel="stylesheet" href="{% static 'CSS/dia_viaje.css' %}">
{% endblock %}
{% block title %}Dia_Viaje{% endblock %}

{% block content %}
<main onclick='closeSidebar()'>
    <section id="cont-dia-viaje">
        <div id="divisor"></div>
        <div id="cont-form-dia-viaje">
            <form method="post">
                {% csrf_token %}
                {{ form.management_form }}
                <div id="form-lista-dias">
                    {% for fo in form %}
                    {% endfor %}
                </div>
                <div id="id-form-dia-empty">
                    <div id="empty-form" class="hidden">{{ form.empty_form.as_p }}</div>
                </div>
                <div class="btn-carga">
                    <button id="btn-agregar-dias" type="button">Agregar dia</button><button type="submit" id="btn-cargar-viaje"> Confirmar </button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
{% block js %}
    <script src="{% static 'JS/viaje.js' %}"></script>
{% endblock js %}