{% extends 'base.html' %}
{% load static %}
{%block estilo%}
    <link rel="stylesheet" href="{% static 'CSS/dia_viaje.css' %}">
{% endblock %}
{% block title %}Dia_Viaje{% endblock %}

{% block content %}
<main>
    <section id="cont-dia-viaje">
        <div id="divisor"></div>
        <div id="cont-form-dia-viaje">
            <form method="post">
                <div id="cont-titulo">
                    <h1>Dia 1</h1>
                </div>
            {% csrf_token %}
                {{ form.management_form }}
                <div id="form-lista-dias">
                    {% for fo in form %}
                        <div id="id-form-dia" class="form-dia">
                            {{fo.as_p}}
                            <div id="id-form-lista-destinos" class="form-lista-destinos">
                                <div id="form-destino">
                                    <p>
                                        <label for="form-destino">Destinos: </label>
                                        {{ fo.destinos }}
                                    </p>
                                </div>
                            </div>
                            <button type="button" onclick="agregar_destino();" id="btn-agregar-destino">Agregar Destino</button>
                        </div>
                    {% endfor %}
                </div>
            <div id="empty-form" class="hidden">{{ form.empty_form.as_p }}</div>

            <button id="btn-agregar-dias" type="button" >Agregar dia</button>
            <button type="submit" id="btn-cargar-viaje"> Confirmar </button>
            </form>

        </div>
    </section>
</main>
{% endblock %}
{% block js %}
    <script src="{% static 'JS/viaje.js' %}"></script>
{% endblock js %}