{% load static %}

{% for dia in dias_viaje %}
    <div class="m-2 p-2 d-flex justify-content-between align-items-center flex-column dia-viaje">
        <div class='d-flex justify-content-center align-items-center flex-column w-100'>
            <div class="d-flex justify-content-center align-items-center w-75 nombre-dia">
                <p class='m-1 font-weight-bold'>{{ dia.nombreDia }}</p>
            </div>
            <p class='m-1'>{{ dia.notas}}</p>
            <input type="hidden" name="hidden-json" class="hidden-json" value="{{ dia.destinos }}">
            <div class="d-flex justify-content-start align-items-start flex-column p-2 w-100 hidden-fields-update">

            </div>
        </div>
        <div class="text-center">
            <!-- Boton para actualizar el dia -->
            <button type="button" data-target="#modal" class="my-1 bs-modal btn-sm btn-accion-dia update-dia-viaje" data-form-url="{% url 'update-dia-viaje' dia.pk %}">
                <span class="fa fa-pencil">Actualizar</span>
            </button>
            <!-- Boton para eliminar el dia -->
            <button type="button" data-target="#modal" class="my-1 w-100 bs-modal  btn-sm btn-accion-dia delete-dia-viaje" data-form-url="{% url 'delete-dia-viaje' dia.pk %}">
                <span class="fa fa-trash">Eliminar</span>
            </button> 

        </div>
    </div>
{% endfor %}
<script>

    $(function(){
        //Boton actualizar dia
        $(".update-dia-viaje").on('click', function (){
            var formUrl = $(this).data("form-url");
            $("#modal-content").empty(); // Limpia el contenido del modal

            var hidden_fields = $(this).closest(".dia-viaje").find(".hidden-fields-update");
            var inputs = hidden_fields.find("input");
            $.get(formUrl, function (data) {
                $("#modal-content").html(data);
                $("#modal").data('form-url', formUrl);

                $("#modal").modal('show');
                var container = $("#modal").find(".hidden-fields-update")[0];

                inputs.each(function (){
                   var input_clone = $(this).clone();

                   var span = document.createElement('span');
                   span.textContent = $(this)[0].value.split(', ')[0] + ', ' + $(this)[0].value.split(', ')[1];

                   var button = document.createElement('button');
                   button.innerText = 'x';
                   button.className = 'btn-eliminar-destino';

                   button.addEventListener('click', function () {
                       input_clone.remove();
                       $(this).remove();
                       span.remove();
                   });

                   span.appendChild(button);
                   container.append(input_clone[0]);
                   container.append(span);
                });
            });
        })

        $("#modal").on('submit', "#update-dia-form", function (e) {
            e.preventDefault();
            var formUrl = $("#modal").data("form-url");
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: formUrl,
                type: 'POST',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,

                success: function(data){
                    $('.cont-dias').html(data.html_response);
                    hidden_json();
                },
                error: function(xhr, status, error) {
                    alert('Error al actualizar');
                }
            })

            $("#modal").modal('hide');
        })
    
        //Boton eliminar dia
        $(".delete-dia-viaje").on('click', function (){
            var formUrl = $(this).data("form-url");
            $("#modal-content").empty(); // Limpia el contenido del modal

            $.get(formUrl, function (data) {
                $("#modal-content").html(data);
                $("#modal").data('form-url', formUrl);
                $("#modal").modal('show');
            });
        })
        $("#modal").on('submit', "#delete-dia-form", function (e) {
            e.preventDefault();
            var formUrl = $("#modal").data("form-url");
            //var formData = $(this).serialize();
            var formData = new FormData($(this)[0]);
            var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
                url: formUrl,
                type: 'DELETE',
                data: formData,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                processData: false,
                contentType: false,
                success: function(data){
                    $('.cont-dias').html(data.html_response);
                }
            });
            $("#modal").modal('hide');
        })
    });
</script>