{% load static %}

{% for dia in dias_viaje %}
    <div class="m-2 p-2 d-flex justify-content-between align-items-center flex-column dia-viaje">
        <div class='d-flex justify-content-center align-items-center flex-column w-100'>
            <div class="d-flex justify-content-center align-items-center w-75 nombre-dia">
                <p class='m-1 font-weight-bold'>{{ dia.nombreDia }}</p>
            </div>
            <p class='m-1'>{{ dia.notas}}</p>
        </div>
        <div class="text-center">
            <!-- Boton para actualizar el dia -->
            <button type="button" data-target="#modal" class="my-1 bs-modal btn-sm btn-accion-dia update-dia-viaje" data-form-url="{% url 'update-dia-viaje' dia.pk %}">
                <span class="fa fa-pencil">Actualizar</span>
            </button>
            <!-- Boton para eliminar el dia -->
            <button type="button" data-target="#modal" class="my-1 w-100 bs-modal  btn-sm btn-accion-dia delete-dia-viaje" data-form-url="{% url 'delete-dia-viaje' dia.pk %}">
                <span class="fa fa-trash">Eliminar</span>
            </button> 

        </div>
    </div>
{% endfor %} 
<script>


    
    
    $(function(){
        //Boton actualizar dia
        $(".update-dia-viaje").on('click', function (){
    
            var formUrl = $(this).data("form-url");
            $("#modal-content").empty(); // Limpia el contenido del modal

            $.get(formUrl, function (data) {
                $("#modal-content").html(data);
                $("#modal").modal('show');
            });
            $("#modal").on('submit', "#update-dia-form", function (e) {
                e.preventDefault();
    
                var formData = new FormData($(this)[0]);
                console.log(formData.serialize());
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,

                    success: function(data){
                        $('.cont-dias').html(data.html_response);
                    },
                    error: function(xhr, status, error) {
                        console.log("error: ", error);
                        console.log("xhr: ", xhr);
                        console.log("status: ", status);
                        alert('Error al actualizar');
                    }
                })
    
                $("#modal").modal('hide');
            })
        })
    
        //Boton eliminar dia
        $(".delete-dia-viaje").on('click', function (){
            var formUrl = $(this).data("form-url");
            $("#modal-content").empty(); // Limpia el contenido del modal

            $.get(formUrl, function (data) {
                $("#modal-content").html(data);
                $("#modal").modal('show');
            });
    
            $("#modal").on('submit', "#delete-dia-form", function (e) {
                e.preventDefault();
    
                var formData = $(this).serialize();
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(){
                        //cargarDiasViaje(formData);
                    }
                });
                $("#modal").modal('hide');
            })
        })
    });
</script>