{% load static %}

{% for dia in dias_viaje %}
    <div class="m-2 p-2 d-flex justify-content-between align-items-center flex-column dia-viaje">
        <div class='d-flex justify-content-center align-items-center flex-column w-100'>
            <div class="d-flex justify-content-center align-items-center w-75 nombre-dia">
                <p class='m-1 font-weight-bold'>{{ dia.nombreDia }}</p>
            </div>
            <p class='m-1'>{{ dia.notas}}</p>
        </div>
        <div class="text-center">
            <!-- Boton para leer la info del dia -->
            <button type="button" class="my-1 bs-modal btn btn-sm btn-primary btn-accion-dia px-5 read-dia-viaje" data-form-url="{% url 'read-dia-viaje' dia.pk %}">
            <span class="fa fa-eye">Detalles</span>
            </button>
            {% comment %} <!-- Boton para actualizar el dia -->
            <button type="button" class="my-1 bs-modal btn btn-sm btn-primary btn-accion-dia update-dia-viaje" data-form-url="{% url 'update-dia-viaje' dia.pk %}">
            <span class="fa fa-pencil">Actualizar</span>
            </button>
            <!-- Boton para eliminar el dia -->
            <button type="button" class="my-1 w-100 bs-modal btn btn-sm btn-danger btn-accion-dia delete-dia-viaje" data-form-url="{% url 'delete-dia-viaje' dia.pk %}">
            <span class="fa fa-trash">Eliminar</span>
            </button> {% endcomment %}
        </div>
    </div>
{% endfor %}
<script>
    function cargarDiasViaje(formData){
        $.ajax({
            url:"{% url 'mostrar-dias-viaje' %}",
            type: 'POST',
            data: formData,
            dataType: 'json',
            success: function(data) {
                $('.cont-dias').html(data.html_response);
            },
            error: function(){
                alert('No se pudieron cargar los dias.');
            }
        });
    }
    
    $(function(){
        //Boton leer dia
        $(".read-dia-viaje").on('click', function (){
            var formUrl = $(this).data("form-url");
    
            $.get(formUrl, function (data) {
                $(".modal-content").html(data);
                $("#modal").modal('show');
            });
        })
    
        //Boton actualizar dia
        $(".update-dia-viaje").on('click', function (){
    
            var formUrl = $(this).data("form-url");
    
            $.get(formUrl, function (data) {
                $(".modal-content").html(data);
                $("#modal").modal('show');
            });
            $("#modal").on('submit', "#update-dia-form", function (e) {
                e.preventDefault();
    
                var formData = $(this).serialize();
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    success: function(){
                        cargarDiasViaje(formData);
                    }
                })
    
                $("#modal").modal('hide');
            })
        })
    
        //Boton eliminar dia
        $(".delete-dia-viaje").on('click', function (){
            var formUrl = $(this).data("form-url");
            $.get(formUrl, function (data) {
                $(".modal-content").html(data);
                $("#modal").modal('show');
            });
    
            $("#modal").on('submit', "#delete-dia-form", function (e) {
                e.preventDefault();
    
                var formData = $(this).serialize();
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: formData,
                    success: function(){
                        cargarDiasViaje(formData);
                    }
                });
                $("#modal").modal('hide');
            })
        })
    });
</script>