{% extends 'base.html' %}
{%load static%}
{% block title %}Viaje{% endblock title%}
{%block estilo%}
  <link rel="stylesheet" href={% static 'CSS/viaje.css' %}>
{%endblock%}

{% block content%}
<main onclick='closeSidebar()'>
  <section id="cont-bienvenida">
    <div id="cont-titulo">
      <h1>Empieza a organizar tu viaje!</h1>
    </div>
    <div id="divisor"></div>
    <div id="cont-form-viaje">
      <form method="post">
        {% csrf_token %}
        <div class="cont-form">
          {{ form.as_p }}
        </div>
        <button type="submit" id="btn-cargar-viaje">Continuar con el viaje</button>
      </form>
    </div>
  </section>
</main>
{% endblock content%}
