{% extends 'base.html' %}
{%load static%}
{% block title %}Viaje{% endblock title%}
{%block estilo%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'CSS/viaje.css' %}>
    <link rel="stylesheet" href={% static 'CSS/modals-viaje.css' %}>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{%endblock%}

{% block buscar %}
{% endblock %}

{% block content%}

<main class='d-flex justify-content-center align-items-center w-100 psition-relative'>
  <section class="m-4 d-flex justify-content-center align-items-center flex-column w-75 h-100 section-form-viaje ">
        <div id="cont-titulo" class='my-3'>
          <h1>Empieza a organizar tu <span>itinerario</span>!</h1>
        </div>
        <div id="divisor" class='w-75 mb-3 divisor'></div>
        <form id="viaje-form" class='mx-3 mt-3' method="post">
            <div id="cont-form-viaje" class='mb-3 w-100 py-2 cont-form-viaje'>
                {% csrf_token %}
                <div class="cont-form">
                    {{ viaje_form.as_p }}
                </div>
                <div id="usuarios-a-invitar" style="display: none;">
                    <p>Correos de los usuarios que deseas invitar:</p>
                    <input type="text" id="correos" name="Correos">
                    <div class="btn-carga">
                        <button id="btn-agregar-correo" type="button" class='btn-correo'>Agregar correo</button>
                    </div>
                    <div id="correos-agregados">
                        <!-- Aquí se mostrarán los correos agregados -->
                    </div>
                </div>
            </div>
                <!--- Boton para crear un dia -->
            <button id="create-dia-viaje" class="p-2 m-3 agregar-dia" type="button" name="button"
                data-toggle="modal" data-target="#create-modal" data-idviaje="{{ viaje_form.id }}" data-form-url="{% url 'create-dia-viaje' %}">
                Cargar Dia
            </button>
            <div class='d-flex justify-content-end align-items-center my-1'>
                <div id="loading-overlay-viaje" style="display: none;">
                    <div class='d-flex justify-content-center align-items-center flex-column'>
                        <div class="spinner-border text-primary " role="status">
                            <span class="sr-only"></span>
                        </div>
                        <p class='p-2 fs-5'>Guardando el viaje!</p>
                    </div>
                </div>
                <button type="submit" id="btn-cargar-info-viaje-general" class="py-2 px-3 btn-guardar-viaje">Siguiente</button>
                <button type="button" id='btn-confirmar-viaje' class="py-2 px-3 btn-confirmar-viaje mx-1">Confirmar itinerario</button>
            </div>
        </form>
      <!-- Modal crear un dia -->
      <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content d-flex justify-content-center align-items-center">
                <form method="post" action="" id="crear-dia-form" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="modal-header">
                          <h5 class="modal-title">Agregar un Dia</h5>
                          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true" class="p-1">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <div id="hidden-fields">
                            <input type="hidden" id="id-viaje-input" name="id-viaje">
                          </div>
                          {% for field in dia_form %}
                              <div class="form-group{% if field.errors %} invalid{% endif %}">
                                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                  {{ field }}
                                  {% for error in field.errors %}
                                      <p class="help-block">{{ error }}</p>
                                  {% endfor %}
                              </div>
                          {% endfor %}
                      </div>
                      <div class="modal-footer d-flex justify-content-center align-items-end flex-column">
                        <div id="loading-overlay" style='display:none;'>
                            <div class='d-flex justify-content-center align-items-center flex-column'>
                                <div class="spinner-border text-primary my-1" role="status">
                                    <span class="sr-only"></span>
                                </div>
                                <p class='p-2 fs-5'>Cargando el día!</p>
                            </div>
                        </div>
                        <button type="submit" class="p-2 btn-confirmar-dia" id='confirmar-dia'>Confirmar</button>
                      </div>
                  </form>
            </div>
        </div>
    </div>
    <!-- Modal para read / update / delete  -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-content">
            </div>
        </div>
    </div>


    {% comment %} Mostrar los dias del viaje {% endcomment %}
    <div class='d-flex justify-content-center align-items-center flex-wrap w-100 cont-dias'>
    </div>
    
  </section>


</main>

{% endblock content%}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% comment %} <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'js/bootstrap5.modal.forms.js' %}"></script> {% endcomment %}

    <script>
        window.addEventListener("message", function(event) {
            if (event.data && Array.isArray(event.data.destinos)) {
                var container = document.getElementById("hidden-fields");

                for (var i = 0; i < event.data.destinos.length; i++) {
                    var destino = event.data.destinos[i];
                    var hiddenField = document.createElement("input");

                    hiddenField.type = "hidden";
                    hiddenField.name = "input-destino";
                    hiddenField.id = "id-destino-" + i;
                    hiddenField.value = destino;

                    // Agrega el campo type="hidden" al contenedor
                    container.appendChild(hiddenField);
                }
            }
        });
    </script>
    {% comment %} Detalle de los dias cargados  {% endcomment %}
    <script>
        $(function (){
            //confirmar viaje
            $('#btn-confirmar-viaje').on('click',function(){
    
                var formData = $('#crear-dia-form').serialize();
                $.ajax({
                    url: "{% url 'confirmar-viaje' %}",
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    success: function(data){
                        if (data.success){
                            window.location.href = "{% url 'sitio-inicio' %}";
                            if(data.messages){
                                console.log($('#mensaje-alerta').text(data.messages));
                            }
                        }else{
                            if(data.messages){
                                console.log($('#mensaje-alerta').text(data.messages));
                            }
                        }
                    },
                    error: function(){
                        alert('No se pudo realizar.');
                    }
                })
            });
    
            //Boton crear dia
            $("#create-dia-viaje").on('click', function (){
                $("#create-modal").modal('show');
            });
        
            $("#crear-dia-form").submit(function (e) {
                e.preventDefault();
        
                // Muestra el mensaje de "Cargando día"
                $("#confirmar-dia").hide();
                $("#loading-overlay").show();

                var formData = new FormData($(this)[0]);

                $.ajax({
                    url: "{% url 'create-dia-viaje'%}",
                    type: 'POST',
                    data: formData,
                    processData: false, 
                    contentType: false,
                    dataType: 'json',
                    success: function (response) {
                        //Restea el formulario normal
                        $("#crear-dia-form")[0].reset();

                        //Reseta los campos hidden 'input-destino'
                        $('#crear-dia-form').find('input[name="input-destino"]').remove();

                        var url = "{% url 'mostrar-dias-viaje' %}";
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: formData,
                            dataType: 'json',
                            processData: false,
                            contentType: false,
    
                            success: function(data) {
                                $('.cont-dias').html(data.html_response);
                                //cargarDiasViaje(formData);

                                
                                $("#loading-overlay").hide();
                                // La carga de días se ha completado, ahora puedes cerrar el modal
                                $("#create-modal").modal('hide');
                                $("#confirmar-dia").show();

                            }
                        })
                    },
                    error: function(xhr, status, error) {
                        alert('Error al guardar los datos del dia');
                        $("#loading-overlay").hide();
                    }
                })

            });
        });


         //Boton actualizar dia
        $(".update-dia-viaje").on('click', function (){
        
            var formUrl = $(this).data("form-url");
    
            $.get(formUrl, function (data) {
                $(".modal-content").html(data);
                $("#modal").modal('show');
            });
            $("#modal").on('submit', "#update-dia-form", function (e) {
                e.preventDefault();
    
                var formData = $(this).serialize();
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                })
    
                $("#modal").modal('hide');
            })
        });

        //Boton eliminar dia
        $(".delete-dia-viaje").on('click', function (){
            var formUrl = $(this).data("form-url");
    
            $.get(formUrl, function (data) {
                $(".modal-content").html(data);
                $("#modal").modal('show');
            });
    
            $("#modal").on('submit', "#delete-dia-form", function (e) {
                e.preventDefault();
    
                var formData = $(this).serialize();
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: formData,
                });
                $("#modal").modal('hide');
            })
        });
    </script>
    <!-- Guardar el formulario sin redireccionar/recargar la pagina -->
    <script>
        $(document).ready(function() {
           $('#viaje-form').on('submit', function(event) {
               event.preventDefault();
                $('#btn-cargar-info-viaje-general').hide();
                $("#loading-overlay-viaje").show();

            // Serializa el formulario para enviarlo como datos POST
            var formData = $(this).serialize();

            $.ajax({
              url: '{% url "viajes-cargar-viaje" %}',
              type: 'POST',
              data: formData,
              success: function(response) {
                

                if (response.success) {
                  // Actualiza el contexto pasado a la vista
                  if (response.id_viaje) {
                    // Actualiza el atributo data-idviaje del botón.
                    $('#create-dia-viaje').attr('data-idviaje', response.id_viaje);
                  }
                  
                  if(response.success){
                    $('#create-dia-viaje').show();
                    $('#btn-confirmar-viaje').show();
                    $("#loading-overlay-viaje").hide();
                  }
                }
              },
              error: function(xhr, status, error) {
                  alert('Error al guardar los datos del viaje');
                  $("#loading-overlay-viaje").hide();
              }
            });
          });
        });
    </script>

    <!-- Script para trabajar con el ID del viaje y trabajar con los dias relacionados al viaje -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var btnAgregarDia = document.querySelector('.agregar-dia');

            btnAgregarDia.addEventListener('click', function () {
                var id_viaje_input_hidden = document.getElementById('id-viaje-input');
                var id_viaje = btnAgregarDia.getAttribute('data-idviaje');

                id_viaje_input_hidden.value = id_viaje;
            });
        });
    </script>
    <script src="{% static 'JS/viaje.js' %}"></script>
{% endblock js %}
