{% load crispy_forms_tags %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/base4.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    {%block estilo%}{%endblock%}

    <title>Inicio</title>
</head>
<body>
    <nav>
        <bottom class="menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <style>svg{fill:#ff8000}</style>
                <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
            </svg>
        </bottom>
        <h1><span>LosTres</span>Viajeros</h1>
    </nav>
    <section class="sidebar">
        <div class="titulo">
            <img src={% static 'logo.png'%} alt="logo" id="logo"/>
            <h1><span>Los</span><span id="naranja">Tres</span>Viajeros</h1>
        </div>
        <div class="cont-links">
            <ul>
                <li><a href="{%url 'sitio-inicio'%}">Inicio</a></li>
                <li><a href="#search-form">Buscar</a></li>
                <li><a href="{%url 'usuario'%}">Perfil</a></li>
                <li><a href="{%url 'viajes-cargar-viaje'%}">Cargar Viajes</a></li> <!--Colocar url de la pagina de los viajes que tiene hecho un usuario.-->
            </ul>
        </div>
        <div class="cont-login">
            {%if user.is_authenticated%}
                <button class="nav-button"><a href="{% url 'logout'%}">Cerrar Sesion</a></button>
            {% else %}
                <button class="nav-button"><a href="{% url 'login' %}">Iniciar Sesión</a></button>
            {%endif%}
        </div>
    </section>
    {% block content %}
    {% endblock %}
    <script src={% static "JS/base.js"%}></script>
    {%block js%}
    {%endblock%}
</body>
</html>
