{% load crispy_forms_tags %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/nuevo.css' %}">
    <title>Inicio</title>
</head>
<body>
    <nav>
        {%if user.is_authenticated%}
            <button id="nav-button"><a href="{% url 'logout'%}">Cerrar Sesion</!--a></button>
        {% else %}

        {%endif%}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
