{% extends 'base.html' %}

{% block title %}Viaje{% endblock %}

{% block content %}
<section id="cont-bienvenida">
    <div id="cont-titulo">
        <h1>Empieza a organizar tu viaje!</h1>
    </div>
    <div id="divisor"></div>
    <div id="cont-texto">
        <p>Aca podras crear y organizar tu viaje a medida, eligiendo los destinos, las actividades y
            las rutas, pudiendo calificarlas para que los viajeros posteriores puedan decidir
            que actividades realizar</p>
    </div>
</section>
{% endblock %}